@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Switzer:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;
  --font-covered-by-your-grace: "Covered By Your Grace";
  --font-switzer: Switzer;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-mini: 15px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-3xl-8: 22.8px;
  --font-size-44xl-4: 63.4px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-45xl: 64px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #eaeaea;
  --color-gray-100: #828282;
  --color-gray-200: #827a7a;
  --color-gray-300: #1c1c1c;
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --color-lightgray-100: #d7d7d7;
  --color-lightgray-200: #ccc;
  --color-lightgray-300: #cacaca;
  --color-dimgray-100: #727272;
  --gray-600: #617275;
  --color-darkgray-100: #a6a3a0;
  --color-darkgray-200: #9e9d9d;
  --color-darkslategray-100: #3c3c3c;
  --color-darkslategray-200: #002e18;
  --color-gainsboro: #e3e3e3;
  --color-mediumseagreen: #2da950;
  --color-black: #000;

  /* Gaps */
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-5xl: 24px;
  --gap-4xs: 9px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;
  --gap-sm: 14px;
  --gap-11xs: 2px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-xs: 12px;
  --gap-base-7: 15.7px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-sm-3: 13.3px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-41xl: 60px;
  --padding-28xl-5: 47.5px;
  --padding-4xl: 23px;
  --padding-33xl: 52px;
  --padding-18xl: 37px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-30xl: 49px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-19xl: 38px;
  --padding-xl: 20px;
  --padding-10xl: 29px;
  --padding-16xl: 35px;
  --padding-76xl: 95px;
  --padding-5xl-2: 24.2px;
  --padding-11xl: 30px;
  --padding-7xl-8: 26.8px;
  --padding-mid: 17px;
  --padding-33xl-2: 52.2px;
  --padding-7xl: 26px;
  --padding-12xl-9: 31.9px;
  --padding-17xl-8: 36.8px;
  --padding-3xl: 22px;
  --padding-17xl: 36px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-9xl-4: 28.4px;
  --br-92xl-5: 111.5px;
  --br-8xl-1: 27.1px;
  --br-46xl-3: 65.3px;
  --br-45xl: 64px;
}
